@use "../../partials/_variables.scss" as *;
@use "../../partials/_mixins.scss" as *;

.projects{
    @include tablet{
        width: 60%;
        margin: 0 auto;
    }
    &__title{
        color: white;
        background-size: cover;
        text-shadow: -2px -2px rgba(40, 212, 54, 0.2), -4px -4px rgba(238, 39, 39, 0.5);
        @include tablet{
            height: 10rem;
            width: 100%;
            padding-top: 2rem;
            padding-right: 5rem;
            font-size: 4rem;
            text-align: right;
        }
        &-number{
            font-size: 6rem;
        }
    }

    &__container{
        @include tablet{
            margin: 10rem 0;
            @include flex-row{
                justify-content:center;
                gap: 2rem;
            }
        }
    }
    &__media{
        width: 50%;
        padding-top: 2.5rem ;
    }
    &__img{
        width: 120%;
        box-shadow: 4px 4px 30px 5px rgba(0,0,0,0.5);
        border-radius: 10px;
        &:hover{
            z-index: 5;
        }
    }
    &__video{
        &-left{
            text-align: right;
        }
    }
    &__desc{
        padding: 1rem 2rem;
        border-radius: 10px;
        position: relative;
        @include tablet{
            width: 70%;
            @include flex-column{
                justify-content:flex-start;
                gap: 1rem;
            }
        }
    }
    &__name{
        font-size: 1.5rem;
        color: white;
        
        &-left{
            text-align: right;
        }
    }
    &__body{
        // background-color: #ff7700;
        // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
        // background-attachment: fixed;
        background-color: #2C4251;
        box-shadow: 4px 4px 30px 5px rgba(0,0,0,0.5);
        padding: 2rem;
        border-radius: 10px;
        min-height: 10rem;
        color: white;
        @include tablet{
            font-size: 1rem;
            //text-shadow: 4px 4px rgba(0,0,0,0.2);
            align-self: start;
            position: relative;
            &-right{
                right: -3rem;
                left: 0;
                width: 140%;
            }

            &-left{
                left: -7rem;
                width: 130%;
            }
            &-bottom{
                @include tablet{
                    @include flex-row{
                        width: 100%;
                        align-items:center;
                        justify-content: flex-start;
                    }
                }
                &Left{
                    justify-content: flex-end;
                    width: 100%;
                }
            }
        }
    }
    &__stack{
        font-size: 1.15rem;
        opacity: .5;
    }
    &__button{
        border: none;
        font-size: 1rem;
        padding: .5rem 1.5rem;
        border-radius: 10px; 
        transition: .5s all ease-in-out ;
        &:hover{
            cursor: pointer;
            background-color:#EF5A51;
        }
    }
    
    &__span{
        font-size: 3.5rem;
        //color:  rgba(208, 17, 16, 0.7);
    }
    &__github{
        margin: 0 1rem;
        transform: scale(.75);
        &:hover{
           cursor: pointer; 
        }
    }
}