@use "../../partials/variables.scss" as *;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $mont-text;
}

body{
  background-color: #000;

}

.app{
    &__gallery{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color:rgba(0,0,0,0.5);
        &-hide{
            display: none;
        }
    }
}