@use "../../partials/variables.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
}

body{
background-color: #000;

}

.app{
    &__gallery{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color:rgba(0,0,0,0.5);
        &-hide{
            display: none;
        }
    }
}