@use "../../partials/_variables.scss" as *;
@use "../../partials/_mixins.scss" as *;

.main{
    overflow: hidden;
    margin: 3rem auto;
    position: relative;
    text-align: center;
    @include tablet{
        margin: 8rem auto;
    }

    &__hi{
        color: $primary-text;
        font-size: 2rem;
        font-family: $header-text;
        font-weight: 300;
        @include tablet{
           font-size: 3rem; 
        }
    }
    &__intro{
        
        color: $primary-text;
        font-size: 1.15rem;
        opacity: .70;
        width: 50%;
        margin: .5rem auto;
        @include tablet{
            font-size: 2rem;
        }
    }

    &__img-container{
        margin-top: 5rem;
        margin-bottom: 2rem;

    }
    &__img{

        width: 30px;
        animation: hand 1s ease-in-out infinite alternate;
        transform-origin: bottom right;
        @include tablet{
            width: 45px;
        }
    }
    &__button{
        background-color: black;
        border: 1px solid hsl(0, 0%, 40%);
        border-radius: 50%;
        height: 50px;
        width: 50px;
        transition: all 0.5s ease-in-out;
        margin-top: 4rem;
        &:hover{
            background-color: hsl(0, 0%, 40%);
            cursor: pointer;
            
        }
    }
    &__heroimg{
        width: 50%;
                //animation: hand 1s ease-in-out infinite alternate;
        
        @include tablet{
            max-width: 200px;
        }
    }
    &__title{
        color: $primary-text;
        margin-top: 2rem;
        font-weight: 300;
    }
    &__body{
        padding: 2rem 0;
        margin: 0 auto;
        width: 80%;
        text-align: left;
        color: darkgray;
        font-size: .85rem;
        line-height: 1.25rem;
        letter-spacing:.1rem;
        @include tablet{
            max-width: 60%;
        }
    }
    &__arrow{
        position: relative;
        animation: arrow 1.2s ease-in-out infinite alternate;
    }

}

@keyframes arrow{
    0%{transform: translateY(-2px) translateY(5px);};
    100%{transform: translateY(5px) translateY(-5px);}; 
}

@keyframes hand{
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(20deg);}
}

/* Vector */










