@use "../../partials/_variables.scss" as *;
@use "../../partials/_mixins.scss" as *;


.navbar{
    height: 5rem;
    color: $primary-text;

    @include flex-column{
        align-items: center;
        margin: 1rem 0;
    }
    @include tablet{
        margin: 0 5rem;
        @include flex-row{
            justify-content:space-between;
            align-items:center;
        };
    }
    &__resume{
        margin-top: .5rem;
        @include button{
            background-color: $primary-text;
        }
        @include tablet{
            margin-top: 0rem;
        }
    }
    &__list{
        text-decoration: none;
        @include tablet{
            @include flex-row{
                justify-content:space-between;
                align-items:center;
            };  
        }

    }
}