@use "../../partials/_variables.scss" as *;
@use "../../partials/_mixins.scss" as *;


.navbar{
    height: 5rem;
    @include tablet{
        margin: 0 2rem;
        @include flex-row{
            justify-content:space-between;
            align-items:center;
        };
    }
    &__list{
        @include tablet{
            width: 300px;
            @include flex-row{
                justify-content:space-between;
                align-items:center;
            };  
        }
        &item{
            list-style-type: none;
            padding: .5rem 1rem;
            border-radius: 10px;
            &:active, &:hover{
                background-color: lightgray;
            }
        }
    }
}