@use "./variables.scss" as *;


@mixin flex-column {
    display: flex;
    flex-direction: column;
    @content;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    @content;
}

@mixin tablet {
    @media (min-width:$tablet-size) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:$desktop-size) {
        @content;
    }
};

@mixin button{
    border: none;
    padding: .5rem 1rem;
    border-radius:4px;
    @content;
}